body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center; /* すべてのテキストを中央揃え */
}
:root {
  font-size: 20px;
}

.blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}
.google-fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1.2em; /* 文字サイズに対して1.2倍に調整 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 影：位置と色は自由 */
  border-bottom: 3px solid rgb(115, 115, 114); /* 下線 */
}

#basic p {
  font-weight: bold;
}

